body{height:100%;}
body h1{text-align:center;line-height:120px;}
#chess{width:960px;margin:0 auto;}
#chess .desk{height:535px;width:535px;margin:0 auto;background: url("../images/bg.jpg") no-repeat;}
#chess .desk table{position:relative;top:7px;margin:0 6px;/*这里为什么不能只用margin呢，外边距会超出父DIV是什么鬼，父元素要设置成inline-block又是什么鬼*/}
#chess .desk table td{display:inline-block;content:"";height:33px;width:33px;text-align:center;margin-right:2px;}
#chess .desk table td:last-child{margin:0;}
#chess .desk table td.white{background: url("../images/w.png") no-repeat;}
#chess .desk table td.black{background: url("../images/b.png") no-repeat;}
#chess .desk table td.white.now{background: url("../images/w_n.png") no-repeat;}
#chess .desk table td.black.now{background: url("../images/b_n.png") no-repeat;}
#chess .info{float:left;height:535px;width:200px;background:#fff;}
#chess .info .tip{text-align:center;}
#chess .chat{float:right;height:535px;width:200px;background:#fff;margin-left:-200px;}
#chess .controller{width:100px;margin:20px auto;}
#chess .controller .start{cursor:pointer;background-color:#FF4F4F;color: #fff;text-align:center;padding:10px;border-radius:16px;}
#chess .controller .start:hover{opacity:0.6;}
#chess .controller .playing{cursor:default;background-color:#ccc;}
#chess .controller .playing:hover{opacity:1;}

#chess .mask{position:fixed;top:0;bottom:0;left:0;right:0;background:rgba(0,0,0,0.4)}
#chess .mask.hide{display:none;}
#chess .mask .notify{position:absolute;border-radius:16px;padding:0 20px;width:200px;height:100px;top:50%;left:50%;margin:-50px 0 0 -120px;text-align:center;background:#fff;}
#chess .mask .notify .message{line-height:60px;}
#chess .mask .notify .button{position:relative;bottom:0;width:50px; margin:0 auto;padding:6px; border-radius:15px;background:#00ff88;cursor:pointer;}
#chess .mask .notify .button:hover{background:#4dffa5;}
